<div class="container" [hidden]="submitted">
	<!-- code here -->
	<div class="card">
		<div class="card-image">	
			<h2 class="card-heading">
				Get started
				<small>Let us add new employee</small>
			</h2>
		</div>
		<form class="card-form" (ngSubmit)="onSubmit()">
			<div class="input">
				<input class="input-field" type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName" />
				<label class="input-label">First name</label>
			</div>

      <div class="input">
        <!-- type="text" class="input-field" value="Alexander Parkinson" -->
				<input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName" name="lastName"/>
				<label class="input-label">Last name</label>
			</div>

			<div class="input">
				<input type="text" class="form-control" id="emailId" required [(ngModel)]="employee.emailId" name="emailId"/>
				<label class="input-label">Email</label>
			</div>
				
			<div class="action">
				<button class="action-button" type="submit">Create</button>
			</div>
		</form>
		
	</div>
</div>

<div class="success-msg" [hidden]="!submitted">
  <fa-icon [icon] = faCheckCircle></fa-icon>
  Employee created successfully.
</div>
